[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/quixoticelixer/Desktop/steam.desktop]
row=7
col=0

[82410e34-7027-4052-a39d-a3c0a57adf52]
row=3
col=0

[5F31-54FE]
row=1
col=0

[8642192442191B0F]
row=2
col=0

[2017-04-02-10-31-36-00]
row=0
col=0

[Trash]
row=4
col=0

[/]
row=5
col=0

[/home/quixoticelixer]
row=6
col=0

